@charset "UTF-8";

.basis {
	border: 1px solid #a7d4b1;
	background-color: #FFF0AC;
	margin: 2px 0px;
	padding: 10px;
	border-radius: 5px;
	height: 150px;
	width: 300px
}

#search {
	padding: 10px;
	border: #0000C5 1px solid;
	border-radius: 5px;
}

#aname {
	border: 1px solid #FF9696;
	background-color: #D9FFFF;
	width: 165px
}