<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LoginSystem</title>
</head>

<body>
    <h3>LoginSystem</h3>
    <form action="checklogin.controller" method="post">
        <table>
            <tr>
                <td>UserName:</td>
                <td><input type="text" name="userName" /></td>
                <td th:if="${errors!=null and errors['name']!=null}" th:text="${errors['name']}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="userPwd" /></td>
                <td th:if="${errors!=null and errors['pwd']!=null}" th:text="${errors['pwd']}"></td>
            </tr>
            <tr>
                <td><button type="submit">login</button></td>
                <td th:if="${errors!=null and errors['msg']!=null}" th:text="${errors['msg']}"></td>
            </tr>
        </table>
    </form>
</body>

</html>